header {
    max-width: 375px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px 20px;
}
h1 {
    margin: 0;
    font-size: 24px;
    color:  #071063 ;
}
.git-button {
    background-color: #071063;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}


